PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
DATABASE_URL="postgres://59b6bb2cbdafbb5ec9649bc1fa7b0c148633787726445838589a059223072d75:sk_coBgq0Ij0ud-CE59sZBso@pooled.db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET=roop_rang_super_secret_jwt_key_2024_change_in_production
JWT_EXPIRES_IN=7d
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rangroop@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM="Roop Rang <rangroop@gmail.com>"
WHATSAPP_NUMBER=917096241594
BUSINESS_NAME="Roop Rang"
BUSINESS_PHONE="+91 7096241594"
BUSINESS_EMAIL=rangroop@gmail.com
